.row {
  background-color: white;
  border: 1px solid black;
  height: 100px;
}
.col-xs-1 {
  background color: black;
  border: 1px solid #fff;
  height: 200px;
}
.col-s-3 {
  background-color: grey;
  border: 1px solid black;
  height: 350px;
}
.col-md-1 {
  background-color: blue;
  border: 1px solid black;
  height: 200px;
}
